body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'Roboto', sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --primary-color: #536DFE;
  /* --primary-color: #6C63FF; */
  --secondary-color:#fff;
  


  --primary-border: 2px solid;
  --secondary-border: 1px solid;

  --primary-font-size: 50px;

}

button, a{
  cursor: pointer;
}
a{
  text-decoration: none;
  color: #000;
}


li{
  list-style: none;
}