
.sidebarFriend{
    display: flex;
    align-items: center;
    margin-bottom:15px;
    cursor: pointer;
}

.sidebarFriendImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
