.login{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f2f5;
}

.loginWrapper{
    width: 70%;
    height: 70%;
    display: flex;
    /* background-color: #eee; */
}


.loginLeft, .loginRight{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.loginRight{
    align-items: center;
    padding: 30px;
}

.loginRightImg{
    width: 75%;
    margin: 20px 0;
}

.loginRightDesc{
    font-size: 18px;
}



.loginLeft{
    
}

.loginLeftWrapper{
    height: 350px !important;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    border-radius: 10px;
    padding: 20px 30px;
}

.loginLogo{
    font-size: 40px;
    color: var(--primary-color);
    font-weight: 800;
    text-align: center;
    margin-bottom: 20px;
}


.loginBox{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.loginInput{
    height: 40px;
    border-radius: 5px;
    outline: none;
    border: 1px solid gray;
    padding-left: 20px;
    font-size: 16px;
    width: 100%;
}

.loginButton{
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color);
    font-size: 18px;
    font-weight: 500;
    color: #fff;
}

.loginExtraButtons{
    display: flex;
    justify-content: space-between !important;
    align-items: center;
}

.loginForgot{
    color: var(--primary-color);
    cursor: pointer;
    display: inline;
    text-align: center;

}

.loginRegisterButton{
    display: inline;
    width: 200px;
    height: 32px;
    border: none;
    border-radius: 5px;
    background-color: green;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    align-self: center;
}


.loginPasswordVisibility{
    position: relative;
}


.visibilityIcon{
    position: absolute;
    top: 9px;
    right: 5px;
    cursor: pointer;
    /* width: 15px; */
    color: gray;
}

.visibleOn{
    color: rgb(78, 78, 78);
}
/* 
.inputBox{
    position: relative;
}

input:focus ~ .floating-label,
input:not(:focus):valid ~ .floating-label{
  top: -7px;
  bottom: 10px;
  left: 20px;
  font-size: 11px;
  opacity: 1;
  color:#000;
}

.inputText {
  font-size: 14px;
}

.floating-label {
  position: absolute;
  pointer-events: none;
  left: 20px;
  top: 10px;
  transition: 0.2s ease all;
  background-color: #fff;
  height: 14px;
  color:rgb(185, 185, 185)
} */