.topbarContainer{
    height: 60px;
    /* width: 100%; */
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: var(--primary-color);
    z-index: 400;
}

.topbarLeft{
    flex:3;
}

.logo{
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
    color:var(--secondary-color);
    cursor: pointer;
}

.topbarCenter{
    flex: 5;
}

.searchbar{
    width: 100%;
    height: 40px;
    border-radius: 20px;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
}

.searchIcon{
    margin:0 10px;
    font-size: 20px !important;
    cursor: pointer;
}

.searchInput{
    height: 70%;
    width: 80%;
    border: none;
    outline: none;
}


.topbarRight{ 
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color:var(--secondary-color);
}

.topbarLink{
    margin-right: 10px;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
}

.topbarLink:hover{
    color: rgb(227, 227, 227);
    
}

.topbarIcons{
    display: flex;
    align-items: center;
}

.topbarIconItem{
    margin-right: 15px;
    cursor: pointer;
    position: relative;
}

.topbarIconBadge{
    position: absolute;
    top: -8px;
    right: -5px;
    background: red;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    font-size: 12px;
    display: grid;
    place-items: center;
}

.topbarImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
}

.searchUserContainer{
    position: absolute;
    left: 0;
    right: 102px;
    top: 60px;
    width: 500px;
    max-height: 85vh;
    background-color: rgb(243, 243, 243);
    z-index: 2;
    margin: 0 auto;
    overflow-y: scroll;
    /* border:2px solid; */
    border-top: none;
    border-radius: 0 0 10px 10px;
}

.searchUserWrapper{
    padding: 20px;
    text-align: center;
}

.searchUserBox{
    border: .5px solid rgb(117, 117, 117);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:  #fff;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
}

.userInfo{
    display: flex;
    align-items: center;
}

.searchUserImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
    object-fit: cover;
}

.searchUserName{
    font-size: 16px;
    font-weight: 500;
}


.searchUserFollowButton{
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    justify-content: space-around;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    background-color: var(--primary-color);
    color: #fff;
    outline: none;
}

.searchUserFollowButton:hover{
    transition: all 300ms ease-in-out;
    background-color: #eaeaea;
    color: #000;
}


.profile{
    position: relative;
}

.profileList{
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #eaeaea;
    border-radius: 5px;
    padding: 10px 2px;
    width: 150px;
}

.profileListItem{
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-self: center
}

.profileItemIcon{
    margin-right:5px;
}

.profileListItem:hover{
    background-color: #66666622;
}
